body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.blinking-text {
    font-size: 100px;
    font-weight: bold;
	font-family: 'Beloved Script';
    color: white;
    animation: blink 5s infinite alternate;
    z-index: 1;
}

@keyframes blink {
    0% { color: red; }
    10% { color: orange; }
    20% { color: yellow; }
    30% { color: lime; }
    40% { color: green; }
    50% { color: cyan; }
    60% { color: blue; }
    70% { color: indigo; }
    80% { color: violet; }
    90% { color: pink; }
    100% { color: purple; }
}
