body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.blinking-text {
    font-size: 50px;
    font-weight: bold;
    color: white;
    animation: blink 1s infinite alternate;
    z-index: 1;
}

@keyframes blink {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: purple; }
}